.list{
    background-color: #373737;
    padding: 20px 16px;
    position: relative;
    z-index: 2;
}
.list .headings #films{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    padding: 30px;
}
.list .headings #films li{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-shadow: 0 0 14px #fff;
}
.list .headings #films li a{
    color: #d9dadb;
    display: inline-block;
    text-decoration: none;
}
.list .headings #schedule{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 30px;
}
.list .headings #schedule button {
    font-size: 20px;
    cursor: pointer;
    margin-right: 30px;
    transition-duration: 0.3s;
    text-decoration: none;
    opacity: 0.5;
    color: #d9dadb;
    background-color: transparent;
    border: none;
}

.list .headings #schedule button.active {
    text-decoration: underline;
    text-underline-offset: 6px;
    opacity: 1;
    color: #d9dadb;
}

