/* selections */
.list .selections{
    position: relative;
    /* width: 700px; */
    color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-wrapper{
    position: relative;
    width: 400px;
}
/* language */
.list .selections .selectedLanguage{
    cursor: pointer;
    padding: 10px;
    font-style: italic;
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
.list .selections .selectedLanguage:hover{
    border-bottom: 2px solid #ff5c5c;
}
.list .selections .selectedLanguage .arrow{
    margin-left: 5px;
    text-align: right;
    transition: transform 0.3s;
    text-align: center;
}
.list .selections .selectedLanguage .up svg{
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.list .selections .dropdownLanguage {
    position: absolute;
    top: 100%;
    width: 400px;
    background-color: #999;
    z-index: 10;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.list .selections .dropdownLanguage .dropdown-header {
    padding: 10px;
    font-style: italic;
    color: #ccc;
    background-color: #7777773d;
}
.list .selections .dropdownLanguage .dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: white;
}
.dropdown-item:hover {
  background-color: #66666638;
}

/* cinema */
.selectedCinema{
    cursor: pointer;
    padding: 10px;
    font-style: italic;
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
.selectedCinema:hover{
    border-bottom: 2px solid #ff5c5c;
}
.selectedCinema .arrow{
    margin-left: 5px;
    text-align: right;
    transition: transform 0.3s;
    text-align: center;
}
.selectedCinema .up svg{
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdownCinema {
    position: absolute;
    top: 100%;
    /* left: 42%; */
    width: 400px;
    background-color: #999;
    z-index: 10;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.dropdownCinema .dropdown-header {
    padding: 10px;
    font-style: italic;
    color: #ccc;
    background-color: #7777773d;
}
.dropdownCinema .dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: white;
}

/* calendar */
.date-picker-container {
    cursor: pointer;
    padding: 10px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    width: 300px;
    position: relative;
}
.date-picker-container:hover{
    border-bottom: 2px solid #ff5c5c;
}
.MuiInputBase-root {
    color: white;
    font-size: 26px;
} 
.MuiInputBase-input::placeholder {
    color: white;
}
.MuiPickersDay-root.Mui-selected {
    background-color: #ff5c5c !important;
    color: white;
}
.MuiCalendarPicker-root {
    background-color: white;
    border-radius: 8px;
} 
.MuiPickersPopper-root {
    z-index: 1300;
}
svg.MuiSvgIcon-root{
    color: #ff5c5c;
}
span{
    color: white;
}
.clear-button {
    background-color: transparent;
    border: 1px solid #ef4444;
    border-radius: 4px;
    padding: 18px 20px;
    font-size: 16px;
    color: #ef4444;
    cursor: pointer;
    text-align: center;
    /* display: inline-block; */
}

.clear-button:hover {
    background-color: #ef4444;
    color: #d9dadb;
}
.clear-button.show {
  display: block;
}