*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.adminFilms .container{
    padding: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #373737;
}
.adminFilms .container h2{
    font-size: 50px;
    color: #d9dadb;
    padding: 50px;
    font-weight: 600;
}
.adminFilms .container input{
    border: none;
    border-bottom: 1px solid #d9dadb;
    outline: none;
    color: white;
    font-size: 16px;
    background-color: transparent;
    padding: 20px;
    width: 400px;
}
.adminFilms .container button.add{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d52a1ea9;
    transition-duration: 0.3s;
    border-radius: 30px;
    height: 40px;
    font-size: 15px;
    color: #d9dadb;
    border: none;
    margin: 20px;
    padding: 20px;
    width: 400px;
}
.adminFilms ul{
    list-style: none;
    color: #d9dadb;
}
.adminFilms li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.adminFilms ul li button.delete{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d52a1ea9;
    transition-duration: 0.3s;
    border-radius: 30px;
    height: 20px;
    font-size: 15px;
    color: #d9dadb;
    border: none;
    padding: 20px;
    margin-left: 50px;
    cursor: pointer;
}