*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signIn .container{
    padding: 20px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #373737;
}
.signIn .container .heading h1{
    font-size: 35px;
    color: #d9dadb;
    padding: 10px 50px;
    font-weight: 500;
}
.signIn .container .inputBar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 120px;
}
.signIn .container .inputBar .inputs{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
}
.signIn .container .inputBar .inputs .email input{
    border: none;
    border-bottom: 1px solid #d9dadb;
    outline: none;
    color: white;
    font-size: 16px;
    background-color: transparent;
    padding: 10px;
    width: 700px;
}
.signIn .container .inputBar .inputs .password input{
    border: none;
    border-bottom: 1px solid #d9dadb;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    width: 700px;
}
.signIn .container .inputBar .inputs .password a{
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: #d9dadb;
    text-align: end;
    padding: 10px 0;
}
.signIn .container .inputBar .button{
    padding-top: 30px;
    margin-left: 40px;
}
.signIn .container .inputBar .button button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d52a1ea9;
    transition-duration: 0.3s;
    border-radius: 20px;
    height: 40px;
    font-size: 15px;
    color: #d9dadb;
    border: none;
    padding: 20px;
    width: 700px;
}
.signIn .container .inputBar .button button:hover{
    background-color: #d52b1e;
    transition-duration: 0.3s;
    cursor: pointer;
}
.signIn .container .inputBar p{
    text-align: center;
    color: #d9dadb;
    padding: 50px;
    font-size: 17px;
}
.signIn .container .inputBar p a{
    color: white;
    font-size: 17px;
}