*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    /* background-color: rgba(0, 0, 0, 0.673); */
    position: relative;
}
header .backgroundImages{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(https://new.parkcinema.az/_next/image?url=https%3A%2F%2Fnew.parkcinema.az%2Fapi%2Ffile%2FgetFile%2F1744886126249_1744886126249_minecraft__sayt_banner.png&w=3840&q=75); */
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 1;
}
header .backgroundImages::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    z-index: 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #373737;
}
header .container .logo img{
    width: 150px;
    height: 80px;
}
header .container .navLinks nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header .container .navLinks nav ul li{
    font-size: 17px;
    margin-right: 60px;
}
header .container .navLinks nav ul li a{
    text-decoration: none;
    color: #d9dadb;
}
header .container .navLinks nav ul li a:hover{
    color: #d52b1e;
    transition-duration: 0.3s;
}

footer {
    background-color: #86312a;
    padding: 40px;
}
footer .container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 16px;
}
footer .container ul li.logo img {
    width: 150px;
    height: 80px;
}
footer .container li ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}
footer .container ul li a {
    text-decoration: none;
    color: #d9dadb;
}
footer .container ul li a:hover {
    color: #fff;
    transition-duration: 0.3s;
}
footer .container ul li.thcolumn p{
    color: #d9dadb;
    margin-bottom: 10px;
    font-size: 16px;
}
footer .container ul li.thcolumn ul{
    flex-direction: row;
    padding: 0;
}
footer .container ul li.thcolumn ul svg {
    color: #d52b1e;
}
footer .container ul li.thcolumn ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9dadb;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
footer .container ul li.visa img {
    width: 50px;
    height: auto;
}
footer .copyright{
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright p{
    color: #d9dadb;
    font-size: 14px;
}
footer .copyright a{
    font-size: 14px;
    text-decoration: none;
    color: #d9dadb;
}
footer .copyright a:hover{
    color: #fff;
    transition-duration: 0.2s;
}