*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact .container{
    background-color: #373737;
    padding: 30px 0;
}
.contact .container .heading h1{
    color: #d9dadb;
    font-weight: 500;
    font-size: 30px;
    padding-left: 50px;
}
.contact .container .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}
.contact .container .cards .card{
    background-color: #4d4d4d;
    width: 320px;
    border-radius: 10px;
    padding: 20px 10px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.066);
}
.contact .container .cards .card h3{
    font-size: 20px;
    color: #d9dadb;
    padding: 0 0 20px 10px;
    font-weight: 500;
}
.contact .container .cards .card p{
    color: #d9dadb;
    padding: 8px;
    display: flex;
    align-items: center;
    line-height: 25px;
}
.contact .container .messaging{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.contact .container .messaging ul{
    list-style: none;
}
.contact .container .messaging ul li{
    color: #d9dadb;
    font-size: 16px;
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.contact .container .messaging ul li svg{
    margin-right: 10px;
}